/*loader*/
.container-loader div{display:block;position:absolute}

.container-loader{
    width: 200px;
    height: 200px;
    top:50%;
    left:50%;
    transform: translate(250%,-400%);
    display: none;
}

.container-loader div{
    width:100px;
    height:100px;
    top:50px;
    left:50px
}

.top-left{animation:tl 7.5s ease infinite}
.top-right{animation:tr 7.5s ease infinite}
.bottom-left{animation:bl 7.5s ease infinite}
.bottom-right{animation:br 7.5s ease infinite}

.container div:before,
.container div:after
{display:block;position:absolute;content:""}

.container-loader div:before{width:50px;height:50px}

.top-left:before{
    background:#fbbc05;
    top:0;
    left:0;
    border-radius:100% 0 0 0
}

.top-right:before{
    background:#ea4335;
    top:0;
    right:0;
    border-radius:0 100% 0 0
}

.bottom-left:before{
    background:#34a853;
    bottom:0;
    left:0;
    border-radius:0 0 0 100%
}

.bottom-right:before{
    background:#4285f4;
    bottom:0;
    right:0;
    border-radius:0 0 100% 0
}

.container-loader div:after{
    background:#18cfab;
    width:25px;
    height:25px;
    z-index:1
}

.top-left:after
{top:25px;left:25px;border-radius:100% 0 0 0}

.top-right:after
{top:25px;right:25px;border-radius:0 100% 0 0}

.bottom-left:after
{bottom:25px;left:25px;border-radius:0 0 0 100%}

.bottom-right:after
{bottom:25px;right:25px;border-radius:0 0 100% 0}

@keyframes tl{
    0%,96%,100%{transform:rotate(0deg)}
    12%{transform:rotate(-45deg)}
    24%{transform:rotate(-90deg)}
    36%{transform:rotate(-135deg)}
    48%{left:50px;transform:rotate(-180deg)}
    60%{left:125px;opacity:1;transform:rotate(-135deg)}
    61%,95%{opacity:0}
}

@keyframes tr{
    0%{transform:rotate(0deg)}
    12%{transform:rotate(-45deg)}
    24%{transform:rotate(-90deg)}
    36%{transform:rotate(-135deg)}
    48%{transform:rotate(-180deg)}
    60%{transform:rotate(-225deg)}
    72%{transform:rotate(-270deg)}
    84%{transform:rotate(-315deg)}
    96%,100%{transform:rotate(-360deg)}
}

@keyframes bl{
    0%,100%{transform:rotate(0deg)}
    12%{transform:rotate(-45deg)}
    24%{left:50px;transform:rotate(-90deg)}
    36%{left:125px;opacity:1;transform:rotate(-45deg)}
    37%,83%{opacity:0}
    84%{left:-25px;opacity:1;transform:rotate(-45deg)}
    96%{left:50px;transform:rotate(0deg)}
}

@keyframes br{
    0%,96%,100%{transform:rotate(0deg)}
    12%{left:125px;opacity:1;transform:rotate(45deg)}
    13%,59%{opacity:0}
    60%{left:-25px;opacity:1;transform:rotate(45deg)}
    72%{left:50px;transform:rotate(90deg)}
    84%{transform:rotate(45deg)}
}


.grid {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    width: 370px;
    height: 290px;
    float: left;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    display: none;
}

.grid-item-height1 {
    height: 260px;
}
.grid-item-height2 {
    height: 380px;
}
.grid-item-height3 {
    height: 460px;
}
.grid-item-height4 {
    height: 260px;
}
.grid-item-height5 {
    height: 248px;
}
.grid-item-height6 {
    height: 373px;
}
.grid-item-height7 {
    height: 290px;
}
.grid-item-height8 {
    height: 260px;
}

.grid-item-child1 {
    width: calc(97% / 2);
    height: 169px;
    display: inline-block;
    position: relative;
}

.grid-item-child2 {
    width: calc(95% / 3);
    height: 92px;
    display: inline-block;
    position: relative;
}

.gallery-hover, .gallery-hover-child{
    position: absolute;
    width: 100%;
    height: 100%;
    background:  rgba(0, 0, 0, 0.6);
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 1s;
}

.gallery-hover a, .gallery-hover-child a{
    width: 30px;
    height: 30px;
    margin: 10px;
    line-height: 30px;
    background-color: #00cbf6;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.grid-item:hover .gallery-hover{
    opacity: 1;
}
.grid-item-child1:hover .gallery-hover-child{
    opacity: 1;
}
.grid-item-child2:hover .gallery-hover-child{
    opacity: 1;
}
