
.header-background{
background: url("../img/Background-header.jpg") no-repeat fixed;
    background-size: 100%;

}
.container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;

}

.nav-menu-background {
    height: 120px;
    width: auto;
    background: rgba(94, 93, 88, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    margin-right: auto;
}
.nav-menu a {
    display: inline;
    align-items: center;
    text-decoration: none;
    margin: auto 10px;
    box-sizing: border-box;

}
.nav-menu-text:hover {
    color: #18cfab;
    border-bottom: 2px solid #18cfab;
    padding-bottom: 48px;

}
.nav-menu div {
    margin: 0 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-menu {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.nav-menu-text {
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin: auto;
}



.hexagon {
    width: 58px;
    height: 58px;
    clip-path: polygon(51% 0, 97% 16%, 97% 83%, 51% 100%, 4% 82%, 4% 18%);
    background: #18CFAB;}

.logo-letter{
    color: white;
    text-align: center;
    align-content: center;
}

.wordpress{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 260px;
}


.wordpress-text {
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
}

.wordpress-theme {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 264px;
}
.explore-purchase-button{
    background-color: #18CFAB;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    color: white;
    border-radius: 8px;
    border-color: transparent;
    height: 63px;
    width: 168px;
    outline: none;
    box-shadow: 0 -5px;
}
.buttons-settings {
    display: flex;
    justify-content: space-between;
    padding: 134px 374px 300px;
}
.grid-child {
    background-color: #1C2A33;
    height: 377px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.grid-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10px;}

.shapes-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: white;
}

.headers {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    margin-top: 85px;
    color: #4E4E4E;
}
.headers:after{
    content: "";
    display: block;
    transform: skew(70deg);
    height: 3px;
    width: 80px;
    border-top: 1.5px solid #18cfab;
    border-bottom: 1.5px solid #18cfab;
    margin: 35px auto 70px;
}

.service-list {
    width: 100%;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
}
.service-list-item{
        flex-basis: calc(100%/6);
        height: 85px;
        background-color: #F8FCFE;
        border: 1px solid rgb(234, 234, 234);
        color: #717171;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        cursor: url('../img/cursor.png'), auto;
    transition: 2s;
}
.service-list-item:hover{
    border-color: #18cfab;
}
.arrow-selected {
    background-color: #fff;
    border-bottom: 7px solid #18cfab;
    position: relative;
}
.arrow-selected:after{
    content: "";
    top: 100%;
    left: 50%;
    position: absolute;
    height: 0;
    width: 0;
    border: 25px solid rgba(255, 212, 52, 0);
    border-top-color: #18cfab;
    right: 0;
    margin: 45px 0 0 25px;
}


.service-block {
    color:  #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    text-align: justify;
    transform: scaleY(0.9);
    margin-bottom: 90px;
}

.service-block img {
    width: 200px;
    height: 160px;
    float: left;
    margin-right: 15px;
    vertical-align: middle;
}
.active-block {
    background-color: #18cfab;
    color: #fff;
}

.background-phone{
    background:linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/background-phone.jpg") no-repeat fixed;
    height: 476px;
    background-size: 100%;

}
.text-service{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

.main-header-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #18cfab;
    margin-top: 126px;
}
.main-text-small{
    font-family: Montserrat;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    margin-top: 12px;
    margin-bottom: 60px;
}
.flex-centring{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.background-gray{
    background-color: #E9EDEF;
    padding-top: 1px;
    cursor: url('../img/cursor.png'), auto;
}

.work-list-item{
    height: 60px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    color: #717171;
    cursor: url('../img/cursor.png'), auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 42px;
}
.work-list {
    display: flex;
flex-direction: row;
    align-items: center;
    justify-content: center;
}


.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 640px;
    -webkit-transition: all 5s ease;
    transition: all 5s ease;
    padding-top: 25px;
    box-sizing: border-box;
}

.gallery-img {
    position: relative;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    overflow: hidden;
    display: flex;
}
.gallery-item img{
    min-width: 100%;
    min-height: 100%;
}

.scaling{
transform: scale(1);
}
.load-more, .load-more-masonry {
    display: inline-block;
    border-radius: 4px;
    background-color: #18cfab;
    width: 170px;
    height: 60px;
    margin-bottom: 100px;
    z-index: 9;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    transform: translateZ(0);
    text-transform: uppercase;
    cursor: url('../img/cursor.png'), auto;
    color: #fff;
    outline: none;
}
.list-active {
    border-top: 2px solid #18cfab;
    color: #18cfab;
}

.fa-plus{
    font-size: 16px;
    margin-right: 16px;
}
.hide-button {
    color: transparent;
    background-color: transparent;
    pointer-events: none;
    border: transparent;
}


.img-hover{
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    border-top: 3px solid #18cfab;
    padding: 45px 0 50px 0;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: absolute;
    bottom: -215px;
    background-color: #f8fcfe;
}
.img-links a{
    margin: 0 3px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    line-height: 40px;
    color: #18cfab;
}
.img-links a:hover{
    background-color: #18cfab;
    color: #fff;
}

.work-hover-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    color: #18cfab;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
justify-content: space-between;
    align-items: center;
}

.card{
    margin-bottom: 120px;
}
.card-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
}
.card-comments::after{
    content: '|';
    color: #717171;
    margin-left: 10px;
    margin-right: 10px;
}
.card-comments{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #717171;
}
.comments{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #717171;

}
.cards-link{
    text-decoration: none;
}
.date-block{
    position: absolute;
    padding: 5px 15px;
    background: #203E38;
    margin-left: 202px;
}
.date-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hover-cards:hover .date-block{
    background-color: #18cfab;
    transition: 2s ease-out;
}
.hover-cards:hover .card-title{
    color: #18cfab;
    transition: 2s;
}

.background-slider{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/Background-footer.jpg") no-repeat fixed;
    background-size: 100%;
    padding-bottom: 100px;
}


.slider-image-nav{
    height: 60px;
    width: 60px;
}

.slick-track{
    display: flex;
}
.slider-image{
    height: 140px;
    width: 140px;
    border: 4px solid #18cfab;
    border-radius: 50%;
    box-shadow: 0 0 0 9px rgba(31, 218, 181, 0.2);
    margin: 10px auto 0;
    cursor: pointer;
}
.slick-slide{
    outline: none;
}
.slick-list{
    overflow: hidden;
}

.slick-prev {
    margin-right: 70px;
}
.slick-prev:before {
    content: "\003C";
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
}

.slick-next {
    margin-right: 50px;
    margin-left: 60px;
}

.slick-next:before{
    content: "\003E";
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
}
.slick-current .slider-image-nav{
    border: 2px solid #18cfab;
    transform: scale(1.1);
    transition: all 0.4s linear;
    margin-top: 10px;
}

.slick-current .slide-item-small {
    margin-bottom: 20px;
}
.slider-image-nav{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(31, 218, 181, 0.2);
    cursor: pointer;
    margin: 25px 10px;
}
.person-profession {
    margin-bottom: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 27px;
}

.person-name{
    color:  #18cfab;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
}
.person-comment{
    max-width: 60%;
    margin-bottom: 10px;
    margin-top: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}
.slider-for{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-nav{
    width: 720px;
display: flex;
    align-items: center;
    justify-content: center;
}

.slide-item-small{
    height: 75px;
}
.slider-image{
    height: 160px;
    width: 160px;
    margin-bottom:40px;
}
.slick-arrow {
    padding: 5px 10px 5px 10px;
    border: 1px solid #bbbbbb;
    color: #bbbbbb;
    font-size: 0;
    background: rgba(0, 0, 0, 0.0001);
    outline: none;
}

.slick-arrow:hover{
    background-color:  #18cfab;
    color: #fff;
    border: none;
}
.slider-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:  #bbbbbb;
    height: 350px;
}


.nav-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}









.background-copyright{
    background-color: #22353F;
}

.the-ham-copyright{
    color: #18cfab;
    margin-left: 5px;
    padding: 40px 0 40px 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
}
.the-ham-copyright::before{
    content: "© Copyright 2015";
    margin-right: 5px;
    color: gray;
}

.the-ham-copyright::after{
    content: "| All Rights Reserved";
    color: gray;
    margin-left: 5px;
}