body {
    background: url("../img/background.png") no-repeat;
    padding-top: 50px;
    background-size: cover;

}
.benefits {
fill:  white;
    display: flex;
}
.container {
    width: 100%;
    max-width: 1050px;
    margin:5px auto;
}

.contacts {
    font-family: Roboto;
    flex-direction: row;
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: right;

}
.contacts:hover {
    color: #F26522;
}
.header {
    display: flex;
    justify-content: space-between;
}
.header-text {
    display: flex;
    flex-direction: column;
}
.logo { display: flex;
    text-decoration: none}

.milan-holidays {
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    margin: 0 0 3px 10px;
}


.tours {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards {

    display: flex;
    list-style-type: none;
    position: relative;
}
.tours-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    margin:  0 0 40px 0;
    color: white;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.copyright {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: white;
    text-align: center;
}
.cards-links {
    text-decoration: none;
}
.tours-text:hover{
    color: #F26522;
}
.cards-images  {
    margin-bottom: 20px;
    display: block;

}
.price-table {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: #F26522;
    color: white;
    margin-top: 160px;
    opacity: 0;
    transition: opacity 0s;
}
.cards:hover .price-table
{
    opacity: 1;
    transition: opacity 1s;
}
.price {
    display: flex;
    margin: 8px 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
.price-count {
display: flex;
    margin-left: 16px;
}
.arrow::after {
    content: '';
    width: 6px;
    height: 6px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    margin: 5px 0 0 20px;
    transform: rotate(45deg);
}


.logo:hover .milan-holidays{
    color: #F26522;
}
.logo:hover .benefits {
    fill: #F26522;
}