@import "src/content/Font/Helvetica";

.modal {
  margin: 20vh auto;
  max-width: 55vh;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: left;
  font-family: "Helvetica Neue";
  &__background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
  }

  &__close {
    margin-left: auto;
    display: flex;
    margin-right: 15px;
    padding: 0 15px;
    cursor: pointer;
  }

  &__close:before, &__close:after {
    content: " ";
    height: 35px;
    width: 2px;
    margin-right: -1px;
    background-color: white;
  }

  &__close:before {
    transform: rotate(40deg);
  }

  &__close:after {
    transform: rotate(-43deg);
  }


  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1vh;
    background-color: #d44637;
    border-radius: 5px 5px 0 0;
    color: white;
    font-size: 24px;
    height: 60px;
  }
  &__text{
    max-width: 96%;
    color: white;
    margin-left: 1vh;
  }
  &__content {
    line-height: 30px;
    text-align: center;
  }

  &__actions {
    padding: 20px 0;
    display: flex;
    justify-content: center;

    & button {
      margin: 0 10px;
      min-width: 100px;
      box-sizing: border-box;
      border: none;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
      padding: 10px;
      font-family: "Helvetica Neue";
      color: white;
    }
  }
}