.wrapper {
    background-image: url("../img/background.jpg");
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-color: transparent;
    border-radius: 5px;
}

.header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
    background: #00000078;
    border-color: transparent;
    border-radius: 5px;
}

.header__logo {
    margin-left: 20px;
}

.header__logo-text {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    color: aquamarine;
}

.header__logo-text.crimson {
    color: crimson;
    border-radius: 5px;
    font-size:24px;
}

.header__create-button,
.header__login-button {
    outline: none;
    margin-right: 20px;
    font-size: 30px;
    color: white;
    border: none;
    background-color: transparent;
}

.header__create-button {
    display: none;
}

.header__create-button:hover,
.header__login-button:hover {
    cursor: pointer;
}

.signIn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.8;
    z-index: 1;
}

.signIn__body {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 290px;
    border-radius: 5px;
    border-color: transparent;
    background: #b91f1f;
}

.signIn__email,
.signIn__password {
    align-self: center;
    box-sizing: border-box;
    text-align: center;
    width: 80%;
    border: 2px transparent;
    border-radius: 10px;
    margin: 18px;
    height: 45px;
    font-size: 26px;
}


.signIn__submitBtn {
    align-self: center;
    width: 50%;
    height: 30px;
    margin-top: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 20px;
}

.signIn__closeBtn {
    border: 2px transparent;
    border-radius: 5px;
    align-self: flex-end;
    height: 25px;
    width: 75px;
    margin: 5px;
}

.signIn__closeBtn:hover,
.signIn__submitBtn:hover {
    cursor: pointer;
}

.visit-form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;
    height: 310px;
    background-color: #640080cc;
    border-radius: 5%;
    border: 5px transparent;
    box-shadow: 0 10px 10px 10px #9a0b0b8c;
}
.form-input,
.form-select {
    width: 250px;
    height: 25px;
    margin: 4px;
    border-radius: 5px;
    border-color: transparent;
    outline: none;
}
.form-hidden {
    display: none;
}
.form-container {
    display: flex;
    justify-content: center;
}
.doctor-select {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #6628ca;
    border: 5px transparent;
    border-radius: 5px;
    font-size: 28px;
    color: white;
    outline: none;
}
.doctor-select.form-hidden {
    display: none;
}
.close-form-btn,
.form-submit {
    align-self: flex-end;
    border-radius: 5px;
    border-color: crimson;
    outline: none}

.close-form-btn:hover,
.form-submit:hover {
    cursor: pointer;
    font-weight: bold;
    color: #b91f1f;
    box-shadow: 5px 5px 10px #cf1c1c;
}
.task-desk {
    width: 90%;
    margin: 20px auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.filter-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    background-color: #ff111175;
    border-radius: 30px;
    border-color: transparent;
}
.task-container {
    width: 90%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    justify-items: center;
    align-items: baseline;
}

.card {
    overflow: hidden;
    position: relative;
    width: 250px;
    font-size: 26px;
    border-radius: 5px;
    border: 2px transparent;
    padding: 19px 15px 15px 15px;
    margin: 10px;
    background: #800076b5;
    box-shadow: 0 14px 28px rgb(253 14 14 / 40%), 0 10px 10px rgb(0 0 0 / 53%);
}


.details-btn {
    background-color: #000000a1;
    color: white;
    display: block;
    margin: 10px auto;
    border: none;
    border-radius: 3px;
    padding: 2px 6px;
    font-size: 15px;
    box-sizing: border-box;
}
.delete-btn {
    color: black;
    position: absolute;
    top: 5px;
    font-weight: 600;
    font-size: 14px;
    border: none;
    background-color: transparent;
}
.delete-btn:hover {
    cursor: pointer;
}
.details-btn:hover {
    cursor: pointer;
}

.desk-noInfo,
.desk-noMatches {
    font-size: 48px;
    font-family: Montserrat;
    color: black;
    margin: 55px auto;
}
.remove {
    display: none;
}
