* {
    box-sizing: border-box;
}

    body {
    max-width: 1900px;
}

.header .menu ul {
    display: flex;
}
.menu {margin-left: 300px;}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #313131;}

.header .menu ul li {
    margin: 20px 10px 20px 35px;
}
.header .menu ul a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;;
    font-family: Open Sans;
    font-size: 15px;
}
.menu ul a:hover {
    color: #14B9D5;
}
.architect {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    display: flex;
    margin-left: 27px;
    color:#FFFFFF;
}
.logo {
    display: flex;
    margin-left: 29px;
}
.search {
    background: black;
    padding: 20px 20px;
    margin-left: auto;
}

.background-header{
background-image: url("../image/header-background.png");
    height: 369px;
    background-attachment: fixed;

}
.header-main {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    display: flex;
    margin: 0 100px 0 570px;
    text-align: center;
    color: white;
    padding: 160px 0 87px 0;
}
.button-green {
    display: flex;
    position: absolute;
margin: 236px 0 0 660px;
    background: #89CA62;
    border: transparent;
    border-radius: 5px;
    padding: 20px 35px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: white;

}
.button-blue {
    display: flex;
    position: absolute;
    margin: 236px 0 0 880px;
    background: #14B9D5;
    border: transparent;
    border-radius: 5px;
    padding: 20px 45px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: white;
}
.posts {
    background: #F2F2F2;
    padding: 49px 0 0 0;
}
.header-posts {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    padding: 19px 0 52px 700px;
}
.container {
    width: 1170px;
    margin: 0 260px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 900px;

}

.articles_item {
    width: calc((100% / 3) - 20px);
    margin-bottom: 30px;
}

.articles_text {
    padding: 25px 10px 25px 10px;
    width: 350px;
    background-color: #FFFFFF;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}
.most-popular {
    background-image:  url("../image/background-main.png");
    height: 588px;
    background-attachment: fixed;
}
.logos {
    margin-left: 60px;

}
.logos-all{
    margin-left: 370px;
}
.line {
   background-color: #18B4CF;
    padding: 2px;
    border-style: none;
    width: 60px;
    margin: 80px 0 100px 880px;
}
.top-rated {
    width: 100%;
    display: flex;
}

.posts-2 {
    background: rgba(0, 0, 0, 0.0001);
    padding: 49px 0 0 0;
}

.grid-parent {
    display: grid;
    grid-template-columns: 921px 320px;
    grid-template-rows: 304px;
    margin-left: 200px;

    text-align: right;
}
.grid-child {
    margin: 0 0 45px 40px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);

}
.articles-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin: 10px 40px 15px 0;
    text-align: right;
}
.article-image {
    float: left;
}
.news-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    margin: 0 14px 0 10px;
}
.grid-child-2 {
    margin: 0 58px 45px 0;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.grid-parent-2 {
    display: grid;
    grid-template-columns: 612px 594px;
    grid-template-rows: 460px;
    margin-left: 240px;
    text-align: right;
}

.grid-parent-3 {
    display: grid;
    grid-template-columns: 323px 880px;
    grid-template-rows: 304px;
    margin-left: 240px;
    text-align: right;
}

.footer {
    display: flex;
    background: #000000;
    padding: 30px 0 30px 0;
}
.rights {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #FFF;
    margin-left: 367px;
}
.footer-logo-LIOT {
width: 64px;
    height: 16px;
    margin-left: 3px;

}
.footer-logo-V {
    width: 38px;
    height: 24px;
    margin-left: 559px;
}
    #toggle {
        width: 10%;
        margin: 0 auto;
    }
    #button {
        display: inline-block;
        background-color: #89CA62;
        width: 60px;
        height: 60px;
        text-align: center;
        position: fixed;
        bottom: 30px;
        right: 30px;
        transition: background-color .3s,
        opacity .5s, visibility .5s;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
        font-size: 40px;
        border-radius: 50%;
        border-color: transparent;
    }
    #button::after {
        content: url("../image/arrow-up-solid.svg");
        font-family: Arial;
        font-weight: normal;
        font-style: normal;
        line-height: 60px;
    }
    #button:hover {
        cursor: pointer;
        background-color: #333;
    }
    #button:active {
        background-color: #555;
    }
    #button.show {
        opacity: 1;
        visibility: visible;
    }


    .menu-item{
        display: inline-block;
        color: #333333;
        font-family: Arial;
        font-size: 14px;
        line-height: 30px;
        padding: 0 10px;
        text-transform: uppercase;
        text-decoration: none;
    }
    .menu-item:hover{
        text-decoration: underline;
    }

    .hide-rated{
        display: flex;
        margin-left: 800px;
        padding: 20px 90px;
        background-color: #89CA62;
        border-radius: 10%;
        border-color: transparent;
    }