* {
    /*m0*/
    margin: 0;
    /*p0*/
    padding: 0;
    font-family: sans-serif;
}

.test-element {
    color: #FF9933;
    margin: 20px 50px 150px;
}

/*******/

p {
    background: #888888;
    color: white;
}

.test-list {
    /*w500*/
    width: 500px;
    margin: 0 auto;
    list-style: none;
}

.test-list-item {
    font-size: 18px;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    background: #999;
    color: white;
}
.top-screen {
    padding: 530px 0 145px;
    background: url("../img/top-screen-bg.png");
}
.container {
    width: 1160px;
    margin: auto;
}
.top-screen-title {
    font-size: 48px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 16px;
    margin-left: 215px;
}
.top-screen-text {
    font-size: 18px;
    color: white;
    background: none;
    margin-bottom: 28px;
    margin-left: 215px;
}
.top-screen-text2 {
    font-size: 54px;
    margin-left: 40px;
    font-weight: bold;
    color: white;
}
.color {
    color: gold;
    font-size: 54px;
    font-weight: bold;
}
.background{
    padding: 1.1em ;
    font-size: 2em;
    background: rgba(255,245,215,0.2);
    border: solid 1px white;
    margin-left: 218px;
}
