.cart-container {
  margin: 50px auto 0 auto;
  max-width: 75%;

  &__message {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
}

.cart-total-price {
  margin-top: 100px;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}