.card {
  padding: 10px 15px 25px 15px;
  display: grid;
  grid-template-rows: 7fr 1fr 1fr auto;
  box-sizing: border-box;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
  border-radius: 5px;

  &__img-wrapper {
    display: flex;
    align-items: center;
    min-height: 250px;
    max-width: 92%;
  }

  &__img {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
  }

  &__price {
    font-size: 24px;
    font-weight: bold;
  }

  &__favorite {
    cursor: pointer;
  }

  & button {
    margin: 0 10px;
    padding: 10px;
    min-width: 100px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__fav {
      cursor: pointer;
    }
  }
}