.cart {
  position: relative;
  padding: 10px;
  display: inline-block;

  &__badge {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    border-radius: 50%;
    background: #fb3f4c;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
  }
}