body
{background-color: #000;
    overflow: hidden;}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    position: absolute;
    width: 15em;
    height: 16em;
    font-size: 500%;
    overflow: hidden;
    transform-origin: 50% 20%;
    transform: perspective(80px) rotateX(5deg);
}
.text {
    font-family: "Times New Roman";
    font-weight: 700;
    color: orange;
    font-size: 100px;
    text-align: center;
}
.titles:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    pointer-events: none;
}

.title-content
{
    position: absolute;
    top: 100%;
    animation: scroll 30s linear 2s infinite;
}
@keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
}