.ramda-black {
    color: black;
    font-family: Roboto;
    font-size: 80px;
    display: inline-block;
}
.ramda-blue {
    color: deepskyblue;
    font-family: Roboto;
    font-size: 80px;
}
.ramda {
    text-decoration: none;
    padding: 0 0 0 30px;
}


.horizontal-menu-li {
    display: inline-block;
    background: #35444F;

}
.horizontal-menu-a {
    display: inline-block;
    padding: 25px 69px;
    text-decoration: none;
    font-size: 24px;
    font-family: Roboto;
    color: white;
}
.horizontal-menu-li:hover {
    background: #222F3A;
}
.horizontal-menu {
    margin-left: 40px;
    margin-top: 38px;
}


.vertical-menu {
    margin-top: 80px;
    width: 344px;
    border: solid darkgray 1px;
    margin-left: 40px;
    padding: 0 0 30px 0;
    height: 487px;
}
.vertical-menu-a {
    display: block;
    text-decoration: none;
    padding: 40px 40px 40px 40px;
    font-size: 24px;
    font-family: Roboto;
    color: black;

}
.vertical-menu-li {
    background: rgba(0, 0, 0, 0.0001);

}
.vertical-menu-li:hover {
    background: #DBDBDB;
padding-left: 40px}
.ri {
    float: left;
}
.image {
    display: inline-block;
    border: solid darkgray 1px;
    margin: 82px 0 10px 100px;
    padding: 75px 320px 200px 320px ;
    transition: 300ms;
}
.text {
    width: 1000px;
    padding: 40px 680px 0 490px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
}
.horizontal-menu-footer{
    margin-left: 40px;
    margin-top: 38px;
    width: 2000px;
}
.horizontal-menu-footer-a{
    display: inline-block;
    padding: 25px 69px;
    text-decoration: none;
    font-size: 28px;
    font-family: Roboto;
    color: black;
    margin-right: 10px;

}
.horizontal-menu-footer-li{
    background: rgba(99, 105, 110, 0.48);
    display: inline-block;
}
.horizontal-menu-footer-a:hover {
    text-decoration: underline;
    color: #3181A6;

}

.copyright:hover {
    text-decoration: underline;
    color: #3181A6;}
.image:hover {
    transform: scale(1.1);
}