.navbar {
  margin: 0 auto;
  padding: 20px 0;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
&__logo{
  text-decoration: none;
  color: black;
  font-size: 48px;
}

  &__menu{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 4vh;

&--link{
  text-decoration: none;
  color: black;
}
  }
}

