/*MENU*/
.menu {
    display: inline;
    font-style: normal;
    font-weight: bold;
    vertical-align: -25.5px;
    margin-left: 200px;
}
.menu-right {display: inline;
    font-style: normal;
    font-weight: bold;
    vertical-align: -25.5px;
}
.url {
    font-style: normal;
    font-family: Montserrat;
    letter-spacing: 2.7px;
    text-decoration: none;
    color: #FF0000;
    font-size: 18px;
    line-height: 18px;
    padding: 0 60px 0 60px;
}
/*SCREEN*/
.top-screen {
    padding:0 78px 0;
    text-align: center;
    height: 789px;
    position: absolute;
}
/*HEADING*/
.heading {
    margin: 0 0 0 320px;
    height: 868px;
    left: 330px;
    top: 48px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}


/*TEXT*/
.text {
    margin-left: 140px;
    width: 1145px;
    height: 132px;
    left: 137.5px;
    top: 945px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}



/*BUTTON*/
.get-started {
    position: absolute;
    width: 191px;
    height: 51px;
    left: 594.5px;
    top: 1357px;
    background: #FF0000;
    border-radius: 4px;
    border-color: transparent;
    color: white;
    letter-spacing: 2.7px;
    font-size: small;
}


/*COPYRIGHT*/
.copyright {
    position: absolute;
    height: 39px;
    left: 760px;
    top: 1460px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;

}