.items-container {
      margin: 30px auto;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 4%;



  &__message {
    margin-top: 100px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
}