.nav {
  margin: 0 auto;
  padding: 20px 0;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__text{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 4vh;
  }
}

.logo {
  height: 10vh;
  width: 10vh;
}